body {
        padding-top: 40px;  
        background-image: url(../bg/wickedbackground.svg);
        background-size: 300%;
        background-repeat: no-repeat;
        margin: auto;
    }

    #orbit {
        width: 50px;
        height: 50px;
        background: transparent;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50%;
        border: 2px solid #485EC4;
        background: #7480FF;
        animation: out-circle 1.5s ease-in-out infinite;
      }
      #orbit:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 30px;
        height: 30px;
        background: #485EC4;
        border-radius: 50%;
        border: 2px solid #cc1703;
        animation: inner-circle 1s ease-in-out infinite;
      }
      #orbit #dots {
        height: 100%;
        width: 100%;
        position: relative;
        animation: rotate 1s linear infinite;
      }
      #orbit #dots:before, #orbit #dots:after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #cc1703;
        position: absolute;
        top: calc(50% - 10px);
      }
      #orbit #dots:before {
        left: -35px;
      }
      #orbit #dots:after {
        right: -35px;
      }
      
      @keyframes out-circle {
        0%, 100% {
          border-width: 4px;
        }
        50% {
          border-width: 12px;
        }
      }
      @keyframes inner-circle {
        0%, 100% {
          border-width: 2px;
        }
        40% {
          border-width: 12px;
        }
      }
      @keyframes rotate {
        0% {
          transform: rotateZ(0deg);
        }
        100% {
          transform: rotateZ(360deg);
        }
      }